@charset "utf-8";
/* CSS Document */

.mainbg {
	/*background-image: url(../image/mainbg.png);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bloglist {
	/*background-image: url(../image/bloglist.png);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.title {
	background-image: url(../image/title4.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	clear: both;
}
.zhaiyao {
	/*background-image: url(../image/zhaiyao1.png);*/
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.detail {
	background-image: url(../image/detail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.talk {
	background-image: url(../image/talk.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.xiabian {
	background-image: url(../image/title.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	clear: both;
}
.clear {
	clear: both;
}
.index-body .title {
	width: 1500px;
	height: 250px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
}
.index-body .bloglist {
	width: 500px;
	height: 1500px;
	float: left;

}
.index-body .zhaiyao {
	width: auto;
	height: auto;
	float: right;
}
.index-body .center {
	margin: auto auto;
	width: 1500px;
	clear: both;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
}
.index-body .xiabian {
	width: 1500px;
	height: 30px;
	margin: auto auto;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
}
.detail-body .title {
	width: 1500px;
	height: 230px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
}
.detail-body .talk {
	width: 1500px;
	height: auto;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
	clear:both;
}
.detail-body .detail {
	width: 1500px;
	height: 700px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
}
.detail-body .xiabian {
	width: 1500px;
	height: 30px;
	margin: auto auto;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	clear:both;
}
.write-body .title {
	width: 1500px;
	height: 230px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
}
.write-body .edit {
	background-image: url(../image/detail.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 850px;
	width: 1500px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
clear:both;
}
.write-body .editinput {
	width: 1500px;
	/*background-image: url(../image/writeinput.png);*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 50px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	margin: auto auto;
	
}
.write-body .xiabian {
	width: 1500px;
	height: 30px;
	margin: auto auto;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	background-color: #FFF;
}
.title .intro {
	margin-top:40px;
	font-family: "MS Serif", "New York", serif;
	font-size: 40px;
}
.title .menu {
	width: auto;
	height: auto;
	margin: auto auto;
	float: left;
	text-align: center;
	background-color:  transparent;
}
.title .menuitem{
	background-size: 100% auto;
		width: 120px;
	height: 40px;
	float: left;
	margin: 40px 10px auto auto;
	background-image: url(../image/button.png);
	background-repeat: no-repeat;
	padding-top: 7px;
	}
.title .logo {
	background-image: url(../image/logo.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 30px 50px;
	width: 160px;
	height: 160px;
	float: left;
}
.bloglist .item {
	background-image: url(../image/listitem.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 450px;
	height: 900px;
	margin: 20px auto;
	padding-top: 0.5cm;
}
.bloglist .itemtitle {
	margin-top:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	text-align: center;
}
.bloglist .itemneirong {
	
  margin: 30px 30px 0px 30px;
}
.zhaiyao .onezhaiyao{
	background-size: 100% 100%;
	background-image: url(../image/zhaiyao.png);
	background-repeat: no-repeat;
	height: 300px;
	width: 990px;
	margin: auto auto;
	border-style: solid;
	border-width: 10px 0 0px 0px;
	border-color:#FFF;
}
.zhaiyao .zhaiyaotitle {
	margin-top:30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	text-align: center;
}
.zhaiyao .zhaiyaoneirong {
	margin: 30px 0px 0px 50px;
	font-size: 18px;
}
.detail .detailtitle {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	text-align: center;
}
.detail .detailneirong {
	margin: auto 30px;
	font-size: 24px;
}
.talk .talktitle {
	font-size: 20px;
	color: #666;
	margin: -10px 30px;
}

.talk .talklist{
	margin: 0px 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;	
	}
.talk .talkedit{
	margin: auto 60px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;	
	}
.edit .edittitle {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	text-align: center;
	color: #666;
		margin: 30px auto;
}
.edit .editneirong {

	margin: 50px 65px;
	
}
.editinput{
		margin:auto auto;
		clear:both;
	}
.editinput .getit{
	
	margin:15px 0px;
	
	
	}
.editinput .setit{
float:left;
	margin:15px 621px;
	
	}
.flow-left {
	width: 100%;
	height: 100px;
	top:0px;
	left: 0px;
	background-image: url(../image/float.png);
	background-repeat: repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	position: fixed;
	margin: auto auto;
	
	display: none;
}
.flow-left .flowlogo{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	color: #999;
	margin:0px 50px;
	}
.inputText4 {  
    font-family:Arial,Helvetica,sans-serif;  
    background:none repeat scroll 0 0 #F5F7FD;  
    border:1px solid #B8BFE9;  
    padding:5px 7px;  
    width:100px;  
    vertical-align:middle;  
    height:30px;  
    font-size:12px;  
    margin:0;  
    list-style:none outside none;  
    }  
	
	
	
#ed{ height:300px; width:800px; background-color: }
.sssss{ background-image:url(http://www.zzsky.cn/build/images/20099493121.gif)}
.tag{ background-image:url(http://www.zzsky.cn/build/images/20099493121.gif);height:22px; display:inline-table;float:left; ;cursor: pointer; margin-top:8px; margin-left:5px; margin-right:2px; vertical-align:middle; line-height:20px;}
.span0_hover{background-position:-0px -2px;width:22px}
.span1_hover{background-position:-30px -2px;width:22px}
.span2_hover{background-position:-58px -2px;width:22px}
.span3_hover{background-position:-86px -57px;width:73px}
.span4_hover{background-position:-86px -28px;width:73px}
.span5_hover{background-position:-164px -2px;width:22px; background-color:#000000}
.span6_hover{background-position:-194px -2px;width:22px}
.span7_hover{background-position:-45px -192px;width:22px}
.span8_hover{background-position:-76px -192px;width:22px}
.span9_hover{background-position:-58px -247px;width:22px}
.span10_hover{background-position:-86px -247px;width:22px}
.span11_hover{background-position:-113px -247px;width:22px}
.span12_hover{background-position:-476px -192px;width:22px}
.span13_hover{background-position:-505px -192px;width:22px}
.span14_hover{background-position:-333px -247px;width:22px}
.span15_hover{background-position:-532px -192px;width:22px}
.span16_hover{background-position:-560px -192px;width:22px}
.span17_hover{background-position:-455px -247px;width:22px}
.span18_hover{background-position:-222px -2px;width:73px}
.span19_hover{background-position:-380px -2px;width:74px}
.span20_hover{background-position:-460px -2px;width:71px}
.span0{background-position:-0px -57px;width:22px}
.span1{background-position:-30px -57px;width:22px}
.span2{background-position:-58px -57px;width:22px}
.span3{background-position:-86px -57px;width:73px}
.span4{background-position:-86px -28px;width:73px}
.span5{background-position:-164px -57px;width:22px;background-color:#000000}
.span6{background-position:-194px -57px;width:22px}
.span7{background-position:-45px -84px;width:22px}
.span8{background-position:-76px -84px;width:22px}
.span9{background-position:-58px -140px;width:22px}
.span10{background-position:-86px -140px;width:22px}
.span11{background-position:-113px -140px;width:22px}
.span12{background-position:-476px -84px;width:22px}
.span13{background-position:-505px -84px;width:22px}
.span14{background-position:-333px -140px;width:22px}
.span15{background-position:-532px -84px;width:22px}
.span16{background-position:-560px -84px;width:22px}
.span17{background-position:-455px -140px;width:22px}
.span18{background-position:-222px -57px;width:73px}
.span19{background-position:-380px -57px;width:74px}
.span20{background-position:-460px -57px;width:71px}
.span0_active{background-position:-0px -28px;width:22px}
.span1_active{background-position:-30px -28px;width:22px}
.span2_active{background-position:-58px -28px;width:22px}
.span3_active{background-position:-476px -299px;width:22px}
.span4_active{background-position:-505px -299px;width:22px}
.ebody{ height:auto; width:760px; border:1px solid #999999}
.ebar{ width:100%; height:36px; background-color:#F0F2F5;};
.edit{ height:550px; width:100%; border:0px;}
.popupfont{ width:200px; height:auto; border:1px solid #7B9EBD; background-color:#F7F7F7; position:absolute;padding:3px; }
a.c1{ width:96%; height:auto; font-size:10px;display:block;border:1px solid #F7F7F7; padding:3px;color:#666666;text-decoration:none;}
a.c1:hover{width:96%; height:auto; font-size:10px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.c2{ width:96%; height:auto; font-size:12px;display:block;border:1px solid #F7F7F7; padding:3px;color:#666666;text-decoration:none;}
a.c2:hover{width:96%; height:auto; font-size:12px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.c3{ width:96%; height:auto; font-size:14px;display:block;border:1px solid #F7F7F7;padding:3px;color:#666666 ;text-decoration:none;}
a.c3:hover{width:96%; height:auto; font-size:14px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.c4{ width:96%; height:auto; font-size:16px;display:block;border:1px solid #F7F7F7;padding:3px; color:#666666;text-decoration:none;}
a.c4:hover{width:96%; height:auto; font-size:16px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.c5{ width:96%; height:auto; font-size:18px;display:block;border:1px solid #F7F7F7;padding:3px; color:#666666;text-decoration:none;}
a.c5:hover{width:96%; height:auto; font-size:18px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.c6{ width:96%; height:auto; font-size:22px;display:block;border:1px solid #F7F7F7; padding:3px;color:#666666;text-decoration:none;}
a.c6:hover{width:96%; height:auto; font-size:22px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.c7{ width:96%; height:auto; font-size:26px;display:block;border:1px solid #F7F7F7; padding:3px;color:#666666;text-decoration:none;}
a.c7:hover{width:96%; height:auto; font-size:26px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
a.n{ width:96%; height:auto; font-size:14px;display:block;border:1px solid #F7F7F7;padding:3px;color:#666666;text-decoration:none; }
a.n:hover{width:96%; height:auto; font-size:14px; border:1px solid #FFCF00;display:block;background-color:#F7EBBD;padding:3px;color:#666666;text-decoration:none;}
.textarea{ border:0px;display:none;}
.toolbarlayer{position:absolute;opacity:0.7;filter:alpha(opacity:70);background-color:#ffffff;height:36px}
.bottom{height:30px;width:1360px;background-color:#F7F3F7;font-size:12px;}
.checkbox{margin-top:10px;margin-top/*\**/:6px\9;margin-left:20px;margin-left/*\**/:16px\9;}
.pp{height:auto; border:1px solid #D3D3D3; position:absolute;z-index:5;}
.ppt{
height:24px; width:100%; background-image:url(http://album.hi.csdn.net/app_uploads/wtcsy/20090726/203207031.p.gif); font-size:12px; font-weight: bold; vertical-align:middle; line-height:24px;
}
